@font-face {
  font-family: 'Digital Num';
  font-style: normal;
  font-weight: 400;
  src: local('Digital Num'), local('Digital Num-Regular'), url(https://github.com/GameDowload-lnc/Index/raw/master/digital-7%20(italic).ttf) format('ttf');
}
